@font-face {
    font-family: 'Graphik LCG';
    src: url('../public/assets/fonts/GraphikLCG-Light.eot');
    src: url('../public/assets/fonts/GraphikLCG-Light.eot?#iefix') format('embedded-opentype'),
        url('../public/assets/fonts/GraphikLCG-Light.woff2') format('woff2'),
        url('../public/assets/fonts/GraphikLCG-Light.woff') format('woff'),
        url('../public/assets/fonts/GraphikLCG-Light.ttf') format('truetype');
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Graphik LCG';
}
